<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Upload Excel</h1>
<form>
    <input type="file" name="file" id="fileInput">
    <button type="button" id="uploadBtn">Upload</button>
</form>

<script>
    $(function() {
        $('#uploadBtn').on('click', function() {
            var file = $('#fileInput')[0].files[0];
            if (!file) {
                alert('Please select a file to upload');
                return;
            }
            if (file.name.split('.').pop() !== 'xlsx') {
                alert('Please select an Excel file');
                return;
            }
            var formData = new FormData();
            formData.append('file', file);
            $.ajax({
                url: 'easy-excel/import-excel',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(result) {
                    alert('Upload success');
                },
                error: function(xhr, status, error) {
                    alert('Upload failed: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>
